<h2><u>About Me</u></h2>

<h4>Welcome to my corner of the digital universe! I am a motivated and dynamic computer 
  science graduate with a passion for driving innovation and contributing to the growth of 
  forward-thinking companies. My journey in the world of technology has been marked by a 
  commitment to excellence, problem-solving prowess, 
  and a relentless eagerness to learn and adapt.</h4>

<h2><u>Education</u></h2>
<h4>
  
    I hold a Master of Computer Application in Data Science from Presidency College (Autonomous), 
    where I achieved an impressive 8.5 CGPA during the period of September 2021 to September 2023. 
    My thesis project involved the application of CNN algorithms and Python programming for Brain
     Tumour Detection, showcasing my dedication to cutting-edge technologies.

    Prior to this, I earned my Bachelor of Computer Application from Presidency College, 
    where I honed my skills in PHP programming and Wamp Server by creating Rapid Notes 
    during the period of August 2017 to August 2020.
    

  
</h4>

<h2><u>Internship Experience</u></h2> 

<h4>
  
    I am currently interning at Global Quest Technologies in Bengaluru, 
    India, where I am actively engaged in Java Full Stack Development. 
    Working collaboratively with the Training team, I have contributed 
    to the design and implementation of web projects, ensuring optimal 
    functionality and performance. My commitment to meeting project 
    timelines has resulted in successful and timely project deliveries. 
    I take pride in having played a pivotal role in improving the 
    efficiency of the Spring Framework, enhancing overall performance.
</h4>
<h2><u>Certifications</u></h2>

<h4>
  
    I constantly strive to stay at the forefront of technological advancements. Currently, 
    I hold certifications in:<br>

      -IBMCEP CENJS1IN Certificate (NodeJS) - Awarded by IBM Career Education for successfully 
       completing the Full Stack Development course.<br>
      - Java Programming - Certified by Great Learning Academy for mastering Java programming.<br>
      - Getting started with React Js Components - Recognized by SimpliLearn for completing the<br>
        React JS Components course.<br>
      - Android Application development <br>
      - MERN Stack Development
  


</h4>
<h2><u>Skills</u></h2>

<h4>
  
    My diverse skill set includes:<br>

    Core Java<br>
    Advanced Java<br>
    Spring Framework (Eclipse)<br>
    Hibernate<br>
    MySQL<br>
    MongoDB<br>
    Web Services<br>
    Machine Learning<br>
    Data Structures<br>
    Manual Testing<br>
    Node.js and Express.js<br>
    This comprehensive skill set reflects my versatility and adaptability <br>
    in handling various aspects of software development and technology.<br>
</h4>
